body {
	background-color: #a8ffaf;
}

form#login, form#signup {
	margin-bottom: 0px
}

input[type=text], input[type=password], input[type=email] ,select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/arrowDown.png") 96% / 11% no-repeat #eee;
}

div.main {
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#footer {
	position: absolute;
	width: 97%;
	border: 2px solid grey;
	margin: 2px;
	padding: 5px;
	bottom: 5px;
	text-align: center;
}

table.formdata {
	border: 1px solid #5F6F7E;
	/* border-collapse: collapse; */
	margin: 10px;
	width: 90%;
	table-layout: fixed;
}
table.formdata th {
	border: 1px solid #5F6F7E;
	background-color: #E2E2E2;
	color: #000000;
	text-align: left;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
	margin: 0;
	font-style: italic;
	font-size: smaller;
}
table.formdata td {
	margin: 0;
	padding: 0;
	border: 1px solid #E2E2E2;
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
}
table.formdata input, textarea {
	color: black;
	width: 100%;
	height: 100%;
	padding: 2px 4px 2px 4px;
	margin: 0;
	border: 2px solid #ffffff;
}
.formdata input:focus, textarea:focus {
	border: 2px solid #000000;
}
.formdata input:focus, textarea:focus {
	border: 2px solid #000000;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-size: large;
}
/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
/* Right-aligned link */
.navbar a.right {
  float: right;
}
/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}